body {
    background-color: cadetblue;
 
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.carousel-item {
    text-align: center;
    transition: transform 0.5s ease-in-out; 
}

.carousel-caption {
    position: relative;
    top: auto;
    bottom: 10px;
    animation: fadeInUp 1s; 
}

.carousel img {
    margin: 0 auto;
    max-width: 70%; 
    height: auto;
    transition: transform 0.3s ease; 
}

.carousel img:hover {
    transform: scale(1.05); 
}

.carousel .d-flex {
    justify-content: space-around; 
}

.btn-primary {
    padding: 5px 10px; 
    font-size: 14px;
    animation: fadeIn 1.5s ease; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@media (max-width: 992px) {
    .carousel img {
        max-width: 90%; 
    }
}

@media (max-width: 768px) {
    .carousel img {
        max-width: 100%; 
    }
}

@media (max-width: 576px) {
    .carousel-item {
        margin-bottom: 15px; 
    }
    .carousel-caption {
        font-size: 14px;
    }
}

