form{
  /* min-height: 100vh; */
  /* width: 50vh; */
  box-sizing: border-box;
  /* display: flex; */
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  /* width: 40vw; */
  /* height: 50px; */
  /* margin:auto; */
  display: flex;
justify-content: center;
flex-direction: column;
text-align: left;
/* padding: 40px 55px 45px 55px;
border-radius: 15px;
transition: all .3s; */
/* border:2px solid black; */

width: 450px;
margin: 15vh 34vw;

box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
padding: 40px 55px 45px 55px;
border-radius: 15px;
transition: all .3s;

}
h1,h2,h3,h4,h5,h6,label,span {
  text-align: center;
  font-weight: 600;
  font-family: 'Fira Sans', sans-serif;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
/* .auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
} */

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
text-align: right;
font-size: 15px;
font-weight: 600;
padding-top: 10px;
color: #262525;
margin: 0;
}
.forgot-password a {
color: #167bff;
}

.signup-container {
background-image: url('../assets/bg-login2.jpg'); 
background-size: cover;
background-position: center;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}